<div class="container">
      <div class="buttons" style="padding-left: 5%;">
        <button type="button" class="btnAgregar mt-4 ms-2" (click)="agregarPaciente()">Agregar Paciente</button>
        <button type="button" class="btnPdf ms-2" (click)="imprimirPdf()">Imprimir PDF <i class=' bx bxs-file-pdf'></i></button>
        <button type="button" class="btnExcel ms-2" (click)="imprimirXlsx()">Descargar Excel  <i class='bx bx-table bx-flip-horizontal' ></i></button>
      </div>
<br>
<br>
      <h5 class="ms-4">Buscar Paciente ya registrado con dni</h5>
      <div class="mb-3 ms-4" style="width:80%;">
        <input type="text" class="form-control" id="idfecha" name="fechaNac" required
            placeholder="Ingrese dni de paciente a buscar" [(ngModel)]="dni" (ngModelChange)="obtenerPacienteDni()">
    </div>

    <div style="padding: 3%;">
        <!-- datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"-->
        <table class="table table-bordered table-hover border-primary mt-5" >
            <thead class="table-primary">
                <tr>
                    <th scope="col">Dni</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Fecha de Nacimiento</th>
                    <th scope="col">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of pacientes">
                    <td>{{p.dni}}</td>
                    <td>{{p.nombre}}</td>
                    <td>{{p.apellido}}</td>
                    <td>{{p.fechaNac}}</td>
                    <td class="d-flex justify-content-around">
                        <button type="button" class="btn btn-warning" (click)="modificarPaciente(p)">Modificar</button>
                        <button type="button" class="btn btn-danger" (click)="eliminarPaciente(p)">Eliminar</button>
                        <button type="button" class="btn btn-primary" (click)="verControl(p)">Controles Medicos</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    
