<div class="container">
    <div style="padding-left: 5%;">
        <button type="button" class="btnAgregar mt-4 ms-2" (click)="agregarEspecialista()">Agregar Especialista</button>
        <button type="button" class="btnPdf ms-2" (click)="imprimirPdf()">Imprimir PDF  <i class=' bx bxs-file-pdf'></i></button>
        <button type="button" class="btnExcel ms-2" (click)="imprimirXlsx() ">Descargar Excel <i class='bx bx-table bx-flip-horizontal' ></i></button>
    </div>
    <br>
    <br>
    
    <h5 class="ms-4">Buscar Especialista por su dni</h5>
    <div class="mb-3 ms-4" style="width:80%;">
        <input type="text" class="form-control" id="idfecha" name="fechaNac" required placeholder="Ingrese dni a buscar"
            [(ngModel)]="dni" (ngModelChange)="obtenerEspecialistaPorDNI()">
    </div>
    <!--<h5 class="ms-4">Buscar Especialista por nombre o apellido</h5>
    <div class="mb-3 ms-4" style="width:80%;">
      <input type="text" class="form-control" id="idfecha" name="fechaNac" required
          placeholder="Ingrese nombre o apellido de paciente a buscar" [(ngModel)]="dato" (ngModelChange)="obtenerPacienteNA()">
  </div>-->
  <button type="button" class="btn btn-warning w-100 mt-3" (click)="filtro=true">BUSCAR POR NOMBRE Y APELLIDO</button>
  
  <div *ngIf="filtro==true">
    <form class="p-3 m-3 bg-success-subtle">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Ingresar Nombre a Buscar:</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                name="nombre" [(ngModel)]="nombre"> 
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Ingresar Apellido a Buscar:</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                name="apellido" [(ngModel)]="apellido"> 
        </div>
        <button type="submit" class="btn btn-primary" (click)="obtenerEspecialistaNA()">Filtrar</button>
    </form>

    <div *ngIf="especialistaFiltro.length==0 && click==true">
        <h2 class="bg-danger p-2 text-white text-center">No se encontraron transacciones con ese filtro</h2>
    </div>

    <table class="table table-striped table-hover mt-5" *ngIf="especialistaFiltro.length!=0">
        <thead class="table-dark">
            <tr>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDO</th>
                <th scope="col">PROFESION</th>
                <th scope="col">DNI</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of especialistaFiltro">
                <td>{{t.nombre}}</td>
                <td>{{t.apellido}}</td>
                <td>{{t.profesion}}</td>
                <td>{{t.dni}}</td>
            </tr>
        </tbody>
    </table>
</div>


    <div style="padding: 3%;" >
        <table class="table table-bordered table-hover border-primary mt-5">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Dni</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Profesion</th>
                    <th scope="col">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of especialistas">
                    <td>{{e.dni}}</td>
                    <td>{{e.nombre}}</td>
                    <td>{{e.apellido}}</td>
                    <td>{{e.profesion}}</td>
                    <td class="d-flex justify-content-around">
                        <button type="button" class="btn btn-warning" (click)="modificarEspecialista(e)">Modificar</button>
                        <button type="button" class="btn btn-danger" (click)="eliminarEspecialista(e)">Eliminar</button>
                        <!-- podria ser turnos asignados -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>