<div class="container">
    <div style="padding-left: 5%;">
        <button type="button" class="btnAgregar mt-4 ms-2" (click)="agregarEspecialista()">Agregar Especialista</button>
    </div>
    <br>
    <br>
    
    <h5 class="ms-4">Buscar Especialista por su dni</h5>
    <div class="mb-3 ms-4" style="width:80%;">
        <input type="text" class="form-control" id="idfecha" name="fechaNac" required placeholder="Ingrese dni a buscar"
            [(ngModel)]="dni" (ngModelChange)="obtenerEspecialistaPorDNI()">
    </div>

    <div style="padding: 3%;">
        <table class="table table-bordered table-hover border-primary mt-5">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Dni</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Profesion</th>
                    <th scope="col">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of especialistas">
                    <td>{{e.dni}}</td>
                    <td>{{e.nombre}}</td>
                    <td>{{e.apellido}}</td>
                    <td>{{e.profesion}}</td>
                    <td class="d-flex justify-content-around">
                        <button type="button" class="btn btn-warning" (click)="modificarEspecialista(e)">Modificar</button>
                        <button type="button" class="btn btn-danger" (click)="eliminarEspecialista(e)">Eliminar</button>
                        <!-- podria ser turnos asignados -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>