<header>
  <a href="#" class="logo">Centro de Salud <br> "Los Huaycos"</a>
  <div class="menuToggle"></div>
  <nav>
    <ul>
      <li><a routerLink="/inicio">Inicio</a></li>
      <li *ngIf="esAdministrador()==true || esVisitante()"><a routerLink="/calendar">Crear un evento</a></li>
      <li *ngIf="esAdministrador()==true"><a routerLink="/signUp/0">Crear un usuario</a></li>
      <li *ngIf="esAdministrador()==true"><a href="#">Gestionar <b>▼</b></a>
        <ul>
          <li><a href="#">Gestionar Especialistas <b>▼</b></a>
            <ul>
              <li><a class="dropdown-item" [routerLink]="'especialista-form/0'">Formulario para Especialista</a></li>
              <li><a class="dropdown-item" [routerLink]="'especialista'">Listado de Especialistas</a></li>
            </ul>
          </li>
          <li><a href="#">Gestionar Turnos <b>▼</b></a>
            <ul>
              <li><a class="dropdown-item" [routerLink]="'turno-form/0'">Formulario para Turnos</a></li>
              <li><a class="dropdown-item" [routerLink]="'turno'">Listado de Turnos</a></li>
            </ul>
          </li>
          <li *ngIf="esAdministrador()==true"><a href="#">Gestionar Paciente<b>▼</b></a>
            <ul>
              <li><a class="dropdown-item" [routerLink]="'paciente-form/0'">Formulario para Paciente</a></li>
              <li><a class="dropdown-item" [routerLink]="'paciente'">Listado de Pacientes</a></li>
              <li><a class="dropdown-item" [routerLink]="'datosMedicos-form/0'">Formulario datos medicos</a></li>
              <li><a class="dropdown-item" [routerLink]="'datosMedicos'">Datos medicos</a></li>
              <li><a class="dropdown-item" [routerLink]="'/datosMedicosHome/'">Mis Controles</a></li>
            </ul>
          </li>
          <li><a href="#">Gestionar Anuncios<b>▼</b></a>
            <ul>
              <li *ngIf="esAdministrador()==true"><a routerLink="/list-anuncio">Lista de Anuncio</a></li>
              <li *ngIf="esAdministrador()==true"><a routerLink="/list-anuncio-cliente">Anuncio</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li *ngIf="esVisitante()==true || esPaciente()"><a routerLink="/list-anuncio-cliente">Anuncios</a></li>
      <li *ngIf="esVisitante()==true || esPaciente()"><a routerLink="/calendarVisitante">Calendario de Actividades</a>
      </li>
      <li *ngIf="loginService.userLoggedIn() && !bothLogin"><a [routerLink]="'turnos-disponibles'">Ver Turnos
          disponibles</a></li>
      <li *ngIf="esPaciente()"><a [routerLink]="'/datosMedicosHome/'+loginService.userLoggedDNI()">Mis Controles</a></li>
      <li class="logins">
        <a routerLink="/login" class="login" *ngIf="!loginService.userLoggedIn() && !esLoggedGoogle() && !esAmbas() ">Iniciar Sesion</a>
        <a (click)="logOutComponent()" class="login" *ngIf="loginService.userLoggedIn() && !esAmbas()">Usuario:{{loginService.userLogged()}} Cerrar Sesion</a>
        <a (click)="logoutGoogle()" class="login" *ngIf="esLoggedGoogle()  && !esAmbas()">Usuario:{{loginService.userLoggedGoogle()}} Cerrar Sesion</a>
        <a (click)="bothLogOut()" class="login" *ngIf="esAmbas()">Usuario:{{loginService.userLoggedGoogle()}} Cerrar Sesion</a>
      </li>
    </ul>
  </nav>
</header>
